./WOAPISCES/dust_ann.cdf
./WOAPISCES/o2_ann.cdf
./WOAPISCES/doc_seas.cdf
./WOAPISCES/o2_seas.cdf
./WOAPISCES/sio3_ann.cdf
./WOAPISCES/no3_seas.cdf
./WOAPISCES/fer_seas.cdf
./WOAPISCES/sio3_seas.cdf
./WOAPISCES/dust.iron.cdf
./WOAPISCES/dust_seas.cdf
./WOAPISCES/doc_ann.cdf
./WOAPISCES/fer_ann.cdf
./WOAPISCES/dic_seas.cdf
./WOAPISCES/talk_seas.cdf
./WOAPISCES/po4_ann.cdf
./WOAPISCES/no3_ann.cdf
./WOAPISCES/dic_ann.cdf
./WOAPISCES/po4_seas.cdf
./WOAPISCES/talk_ann.cdf
./COADS05/sss.cdf
./COADS05/sst.cdf
./COADS05/qsea.cdf
./COADS05/airdens.cdf
./COADS05/sat.cdf
./COADS05/netheat.cdf
./COADS05/shortrad.cdf
./COADS05/taux.cdf
./COADS05/emp.cdf
./COADS05/tauy.cdf
./COADS05/w3.cdf
./COADS05/precip.cdf
./COADS05/u3.cdf
./COADS05/v3.cdf
./COADS05/rh.cdf
./COADS05/longrad.cdf
./WOA2009/o2_ann.cdf
./WOA2009/o2_seas.cdf
./WOA2009/sio3_month.cdf
./WOA2009/sio3_ann.cdf
./WOA2009/no3_seas.cdf
./WOA2009/sio3_seas.cdf
./WOA2009/salt_seas.cdf
./WOA2009/temp_seas.cdf
./WOA2009/temp_month.cdf
./WOA2009/no3_month.cdf
./WOA2009/po4_month.cdf
./WOA2009/po4_ann.cdf
./WOA2009/salt_month.cdf
./WOA2009/no3_ann.cdf
./WOA2009/temp_ann.cdf
./WOA2009/o2_month.cdf
./WOA2009/po4_seas.cdf
./WOA2009/salt_ann.cdf
./SST_pathfinder/climato_pathfinder.nc
./GOT99.2/GOT99_SAL.nc
./TPXO6/TPXO6.nc
./UTILITIES/mexcdf/snctools/tests/testdata/just_one_fixed_size_variable.nc
./UTILITIES/mexcdf/snctools/tests/testdata/badfillvalue.nc
./UTILITIES/mexcdf/snctools/tests/testdata/just_one_dimension-4.nc
./UTILITIES/mexcdf/snctools/tests/testdata/tst_pres_temp_4D_netcdf4.nc
./UTILITIES/mexcdf/snctools/tests/testdata/varput4-2.nc
./UTILITIES/mexcdf/snctools/tests/testdata/full.nc
./UTILITIES/mexcdf/snctools/tests/testdata/empty-4.nc
./UTILITIES/mexcdf/snctools/tests/testdata/empty.nc
./UTILITIES/mexcdf/snctools/tests/testdata/varput-2.nc
./UTILITIES/mexcdf/snctools/tests/testdata/deflate9.nc
./UTILITIES/mexcdf/snctools/tests/testdata/netcdf4_atomic.nc
./UTILITIES/mexcdf/snctools/tests/testdata/just_one_dimension.nc
./UTILITIES/mexcdf/snctools/tests/testdata/varput.nc
./UTILITIES/mexcdf/snctools/tests/testdata/tst_comp.nc
./UTILITIES/mexcdf/snctools/tests/testdata/tst_compounds2.nc
./UTILITIES/mexcdf/snctools/tests/testdata/varput4.nc
./UTILITIES/mexcdf/snctools/tests/testdata/varget4.nc
./UTILITIES/mexcdf/snctools/tests/testdata/tst_group_data.nc
./UTILITIES/mexcdf/snctools/tests/testdata/getlast.nc
./UTILITIES/mexcdf/snctools/tests/testdata/attget-4.nc
./UTILITIES/mexcdf/snctools/tests/testdata/enhanced.nc
./UTILITIES/mexcdf/snctools/tests/testdata/attget.nc
./UTILITIES/mexcdf/snctools/tests/testdata/iscoordvar-4.nc
./UTILITIES/mexcdf/snctools/tests/testdata/tst_pres_temp_4D_netcdf.nc
./UTILITIES/mexcdf/snctools/tests/testdata/tst_opaque_data.nc
./UTILITIES/mexcdf/snctools/tests/testdata/getlast-4.nc
./UTILITIES/mexcdf/snctools/tests/testdata/varget.nc
./UTILITIES/mexcdf/snctools/tests/testdata/moons.nc
./UTILITIES/mexcdf/snctools/tests/testdata/iscoordvar.nc
./UTILITIES/mexcdf/snctools/tests/testdata/full-4.nc
./UTILITIES/mexcdf/snctools/tests/testdata/fillvalue_scaling.classic.nc
./UTILITIES/mexcdf/snctools/tests/testdata/tst_enum_data.nc
./UTILITIES/mexcdf/snctools/tests/testdata/tst_vlen_data.nc
./UTILITIES/mexcdf/snctools/tests/testdata/obs_cmpd_strings.nc
./TPXO7/TPXO7.nc
./QuikSCAT_clim/roms_SCOW_month_clim_1999_2009.nc
./RUNOFF_DAI/coastal-stns-Vol-monthly.updated-oct2007.nc
./RUNOFF_DAI/Dai_Trenberth_runoff_global_clim.nc
./Rivers/croco_runoff_monthly.nc
./Topo/etopo2.nc
./croco_grid_example.nc
